<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BuildVersion" value="55"/>

		<!-- Browser Info -->
		<add key="Browser" value="chrome"/>
		<add key="BrowserSize" value="1080x800"/>
		<add key="HeadlessMode" value="false"/>

		<!-- Folder Info -->
		<add key="DownloadsDirectory" value="/Users/MacHome/Projects/MangoExpress/Downloads"/>
		<add key="TestResultsDirectory" value="/Users/MacHome/Projects/MangoExpress/TestResults"/>
		<add key="TestDetailsDirectory" value="/Users/MacHome/Projects/MangoExpress/TestDetails"/>

		<!-- Only execute DTO.TestDetails when Execute == true -->
		<add key="TestDetailsExecuteOnly" value="true"/>

		<!-- Is Release -->
		<add key="Release" value="true"/>
	</appSettings>
</configuration>
