<?xml version="1.0" encoding="utf-8"?>
<versions>
    <testVersions>
        <!--test versions-->
        <testVersion test="ExampleTest" version="1"/>
    </testVersions>
    <pageVersions>
        <!--page versions-->
        <pageVersion page="ExamplePage" version="1"/>
    </pageVersions>
</versions>